<div class="jumbotron">
  <h1>Welcome to The Cozy Pirates</h1>
  <h2>The most beautiful surf house in Taghazout. We offer cozy accomodations, excellent service and rentable surf equipment. Come and check out more about us! </h2>
  <p><%= link_to 'About', static_pages_about_path, class: "btn btn-default btn-lg about-button", id: "button-default" %></p>
</div>